
.vs/SeleniumCSharpProject/v17/TestStore/0/000.testlog
.vs/SeleniumCSharpProject/v17/TestStore/0/000.testlog
SeleniumCSharpProject/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
SeleniumCSharpProject/obj/Debug/net5.0/SeleniumCSharpProject.AssemblyInfo.cs
SeleniumCSharpProject/obj/Debug/net5.0/SeleniumCSharpProject.AssemblyInfoInputs.cache
SeleniumCSharpProject/obj/Debug/net5.0/SeleniumCSharpProject.assets.cache
SeleniumCSharpProject/obj/Debug/net5.0/SeleniumCSharpProject.csproj.AssemblyReference.cache
SeleniumCSharpProject/obj/project.nuget.cache
SeleniumCSharpProject/obj/project.nuget.cache
SeleniumCSharpProject/obj/project.nuget.cache
SeleniumCSharpProject/obj/Debug/net5.0/SeleniumCSharpProject.GeneratedMSBuildEditorConfig.editorconfig
